<!DOCTYPE html>
<html ng-app="oa">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Kanwal" />
    <title>OaAssist</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/bootstrap-theme.min.css" rel="stylesheet">
    </link>
    <style type="text/css">
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>

    </link>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:fragment="oafrag">
        <ul class="nav nav-pills nav-stacked col-lg-2">
            <li><a href="#" ng-click="get('/build/query')">Query</a></li>
            <li><a href="#" ng-click="get('/build/region')">Region</a></li>
            <li><a href="#" ng-click="get('/build/nav')">Navigation</a></li>
            <li><a href="#" ng-click="get('/build/service')">Services</a></li>
            <li><a href="#" ng-click="get('/build/wizard')">Wizards</a></li>
        </ul>
    </div>

</body>
</html>